* {
    box-sizing: border-box;
    --background-mobile: rgb(6, 6, 68);
    --background-desktop: rgb(30, 0, 60);
}

body {
    background-color: var(--background-desktop);
    font-family: Arial;
    height: 100vh;
    font-size: 24px;
    color: white;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contato {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: var(--background-desktop);
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    height: 10vh;
    justify-content: space-around;
}

.menu ul {
    align-items: center;
}

.menu a {
    display: block;
    margin: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: teal;
}

a {
    display: block;
    margin: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    color: teal;
    padding: 0.5em;
}

a p {
    padding-top: .5em;
}

a:hover {
    text-decoration: underline;
}

.title {
    position: absolute;
    top: 10vh;
}

.site-subtitle,
.subtitle,
.site-title {
    color: white;
    text-align: center;
    padding: 1em;
    align-items: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Rock Salt', cursive;
}

.subtitle {
    font-size: 2em;
    margin: -2em;
}

.site-subtitle {
    font-size: 1.5em;
    position: fixed;
    top: 10vh;
    font-family: 'Comfortaa', cursive;
}

.subpage-header {
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portifolio {
    font-family: 'Comfortaa', cursive;
}

.img-portfolio {
    max-height: 200px;
    width: auto;
    padding: 20px;
}

.jogos__lista,
.sites__lista,
.apps__lista {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 900;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 10px;
    text-align: center;
    margin-left: 5vw;
}

.jogos__item {
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.sites__item {
    text-align: center;
    max-width: 40vw;
}

.sites__img {
    max-height: 30vh;
    padding: 0.25em;
    max-width: 15vw;
}

.sites__titulo {
    padding: 0.5em;
    font-size: 24px;
    text-transform: uppercase;
}

.jogos__img {
    max-width: 20vw;
}

.grid {
    padding: 1em .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.telaJogo {
    text-align: center;
    padding: 1em;
}

#placar {
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

.apps__img {
    max-height: 30vh;
    padding: 0.25em;
    max-width: 15vw;
}

.apps__item {
    text-align: center;
    max-width: 40vw;
}

.tela-alvo {
    text-align: center;
    margin-left: 12.5vw;
    margin-right: 10vw;
    border: 1px solid teal
}