* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/fundo300.png');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    font-size: 12px;
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
        background-size: cover;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
        background-image: url('../img/fundo600.png');
        background-size: cover;
    }
    .title {
        display: block;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
        background-image: url('../img/fundo1200.png');
        background-size: cover;
    }
    .title {
        display: flex;
        align-items: center;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contato {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    font-family: 'Comfortaa', cursive;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.subtitle,
.site-title {
    color: white;
    text-align: center;
    padding: 1em;
    align-items: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Rock Salt', cursive;
}

.site-subtitle {
    font-size: 30px;
}

.subpage-header {
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portifolio {
    font-family: 'Comfortaa', cursive;
}

.img-portfolio {
    max-height: 200px;
    width: auto;
    padding: 20px;
}

.jogos__lista {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 900;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    align-content: center;
}

.jogos__item {
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.projetos__lista {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 900;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    align-content: center;
    width: 100%;
}

.projetos__item {
    margin: 3em;
    padding: 2em;
    text-align: center;
}

.projetos__img {
    max-height: 20vw;
    padding: 0 1em;
}

.projetos__titulo {
    padding: 0.5em;
    font-size: 24px;
    text-transform: uppercase;
}

.jogos__img {
    max-width: 20vw;
}