@media (max-width: 1200px) {
    body {
        background-color: var(--background-mobile);
    }
    .menu {
        background-color: var(--background-mobile);
    }
    .menu a {
        font-size: 1em;
    }
    #placar {
        margin-top: 1em;
    }
    .tela-alvo {
        text-align: center;
        margin-left: 3.5vw;
        margin-right: 3.5vw;
        border: 1px solid teal
    }
}